{% extends 'base.html' %} {% load static %}{% load get_mime %} {% block title %}My Files{% endblock %}{% block content %}
<div class="show-file row">
    {% for file in files %}
    <div class="row file-data mt-3" title="{{file.desc}}">
        <div class="col-md-2 align-self-center"><img src="/static/images/{{file.css_class}}.png" height="40" width="40"></div>
        <div class="col-md-7 align-self-center">
            <div class="">
                <h4>{{file}}</h4>
                <span>{{file.file.size|filesizeformat}}</span> |
                <span class="text-secondary">{{file.date|date:'Y-m-d H:i'}}</span>
            </div>
        </div>
        <div class="col-md-3 align-self-center div-action"><span data-url="{{file.file.url}}" class="fa fa-download text-primary open-file"></span> <span data-id="{{file.id}}" class="fa fa-trash text-danger remove-file"></span> <span data-url="{{file.url}}" class="fa fa-link text-info share-file"></span>
            <span data-id="{{file.id}}" class="fa {% if file.is_fav %}fa-heart{% else %}fa-heart-o{% endif%} text-danger make-fav"></span>
        </div>
    </div>
    {% empty %}
    <h2>No Files Here!!</h2>
    {% endfor %}
</div>
{% endblock %}